* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  header{
    position: fixed;
    z-index: 1000; /* que ele fique em cima de tudo */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; 
    justify-content: space-around;
    align-items: center;
  }

.topo2{
    width: 100%;
    height: 130px;
    background-color: rgba(10, 21, 42, 0.307);
    backdrop-filter: blur(95px);
    position: fixed; 
    top: -5px;
    left: -5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Bigelow Rules", "serif";
}

#img_logo {
  width: 160px;
  top: 50px;
  position: relative;
  right: 480px;
  margin-top: -90px;
  padding: 5px;
} 

h1{
  margin-top: 35px;
  font-family: "Henny Penny", system-ui;
  text-align: center;
  }

p{
  font-family: "Poiret One", system-ui;
  text-align: center;
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
  }

h2{
  text-align: center;
  font-family: "Henny Penny", system-ui;
  margin-top: 5%;
  font-size: x-large;

}  

body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: url(/img/hogwarts2.jpg);
        background-size: cover;
        background-position: center;
      }

form {
        width: 500px;        
        padding: 20px;
     }

.container {
  margin-top: 135px;
  margin-bottom: 35px;
        width: 500px;
        background-color:rgba(10, 21, 42, 0.307);
        border: 2px solid rgba(255, 255, 255, 0.953);
        border-radius: 10px;
        color: #fff;
        box-shadow: rgba(7, 29, 78, 0.507)0px 7px 29px 0px;
        backdrop-filter: blur(95px);
      }

.input-container1 input {
  position: relative;
  border-radius: 40px;
        width: 85%;
        margin: 20px;
        padding-left: 40px;
        font-size: 15px
        box-sizing border-box;
        outline: none;
        font-size: 20px;
        padding: 10px 10px 10px 40px;
      }

 .input-container2 input {
  position: relative;
  border-radius: 40px;
        width: 85%;
        margin: 20px;
        padding-left: 40px;
        font-size: 15px
        box-sizing border-box;
        outline: none;
        font-size: 20px;
        padding: 10px 10px 10px 40px;
      }
      .input-container1 input::placeholder {
        color:#2f2d77c8;
        font-family: "Bigelow Rules", serif;
        font-size: 25px;
      }
      .input-container2 input::placeholder {
        color:#2f2d77d5;
        font-family: "Bigelow Rules", serif;
        font-size: 25px;
      }

      .input-container1 i {
        color: #fff;
      }
      .input-container2 i {
        color: #fff;
      }

      .remember-me {
        font-family: Poiret One, system-ui;
      font-size: 18px;
        display: flex;
        margin: 20px;
        justify-content: space-between;
      }
      
      .remember-me label input {
        accent-color: #fff
      }
      .remember-me a {
        text-decoration: none;
        color: #fff;
      }
      .remember-me a:hover {
        text-decoration: underline;
      }

      .botao{
        width: 95%;
        height: 30px;
        background-color: #e0e7fed6;
        outline: none;
        cursor: pointer;
      font-family:"Henny Penny", system-ui;
      font-size: 17px;
      margin-top: 20px;
       }

     .register-link{
      font-family: henny penny, system-ui;
      font-size: 17px;
      text-align: center;
      margin: 20px 0 15px;
       }

    .link {
      font-family: "henny penny", system-ui;
      text-decoration: none;
      color: #26356bca;
      font-weight: 600;
    }

    .link:hover {
      text-decoration: underline;
    }
    
    .titulo {
      color: #fff;
      text-decoration: none;
      transition: 0.3s;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
    
    a:hover {
      opacity: 0.7;
    }
    
    .nav-list {
      list-style: none;
      display: flex;
    }
    
    .nav-list li {
      letter-spacing: 3px;
      margin-left: 32px;
    }
    
    .mobile-menu {
      display: none;
      cursor: pointer;
    }
    
    .mobile-menu div {
      width: 32px;
      height: 2px;
      background: #fff;
      margin: 8px;
      transition: 0.3s;
    }
