
@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Henny+Penny&family=Poiret+One&display=swap');

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), 
              url('/img/salao-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 30vh;
  color: white;
  
}

body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  margin-top: 25px;
  padding: 20px;
  
}

.card {
  background-color: rgba(0, 0, 0, 0.747);
  width: 230px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 7px 7px rgba(255, 252, 252, 0.459);
  text-align: center;
 
}

.card img {
  width: 95%;
  height: 280px;
  object-fit: cover; 
}

.card h2 {
  margin: 10px 0 5px;
  font-size: 17px;
  color: rgb(255, 255, 255);
  font-family: 'Poiret One';
  text-align: center;
  margin: 2px;
}