@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Henny+Penny&family=Poiret+One&display=swap');

header {
  width: 100%;
  padding: 28px 8%;
  background-color: rgba(99, 21, 6, 0.51);
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 35px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

#img_logo {
  width: 160px;
  top: 30px;
  position: relative;
  left: 20px;
  margin-top: -90px;
} 
 
#nav_list {
  display: flex;
  list-style: none;
  gap: 50px;
  justify-content: center;
  flex: 5;
  font-size: 25px;
  font-family: 'Bigelow Rules';
}

.nav-item a {
  text-decoration: none;
  color: #b1a526;
  font-weight: 650;
  border-bottom: 2.3px solid #ffffff 
}


#mobile_btn {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
}

#mobile_menu {
  display: none;
  font-size: 1.8rem;
}

#mobile_menu.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

#mobile_nav_list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#mobile_nav_list .nav-item a {
  color: #b1a526;
  font-weight: bold;
}

@media screen and (max-width:1170px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }
    #mobile_btn{
        display: block;
    }

    #mobile_btn{
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item{
        list-style: none;
        text-align: center;
    }
    
}